.image{
    height: 600px;
    width: 100%;
    background-image: url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20170921%2F88d9aeb60e17498fad0df4c23d7bd781.gif&refer=http%3A%2F%2F5b0988e595225.cdn.sohucs.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1635666572&t=35e3a9a2a980bc94ddc69e3f3911bc14);
}

